.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch-checkbox {
  display: none;
}

.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ddd;
  border-radius: 34px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in-out;
}

.toggle-switch-switch {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 50%;
  transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  left: 30px;
}

.toggle-switch-label-on {
  background-color: #65a30d;
  border-color: #65a30d;
}

.toggle-switch-switch-on {
  background-color: #fff;
}
