.toggle-button {
    background-color: #f5f5dc;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
  }
  
  .sun-moon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
  }
  
  .sun,
  .moon {
    width: 25px;
    height: 25px;
    background-color: #ffcc00;
    border-radius: 50%;
  }
  
  .sun {
    position: absolute;
    left: 5px;
    animation: moveSun 0.5s linear forwards;
  }
  
  .moon {
    position: absolute;
    right: 5px;
    opacity: 0;
  }
  
  .light-mode .sun {
    animation: moveSunBack 0.5s linear forwards;
  }
  
  .light-mode .moon {
    opacity: 1;
  }
  
  @keyframes moveSun {
    from {
      left: 5px;
    }
    to {
      left: calc(100% - 30px);
    }
  }
  
  @keyframes moveSunBack {
    from {
      left: calc(100% - 30px);
    }
    to {
      left: 5px;
    }
  }
  